.alert {
    position: relative;
    border: $alert-border-width solid transparent;
    padding: $alert-padding-y $alert-padding-x;
    border-radius: $alert-border-radius;

    .alert-close{
        position: absolute;
        top: $alert-padding-y;
        right: $alert-padding-y;
    }

    .alert-title-bold{
        font-weight: $font-weight-bold;
    }

}
.alert-primary {
    @include alert-style($primary, $gray-100)
}
.alert-success {
    @include alert-style($success)
}
.alert-warning {
    @include alert-style($warning)
}
.alert-error {
    @include alert-style($danger, $gray-100)
}