.alert {
    border: $alert-border-width solid transparent;
    padding: $alert-padding-y $alert-padding-x;
    border-radius: $alert-border-radius;


}
.alert-info {
    @include alert-style($info)
}
.alert-success {
    @include alert-style($success)
}
.alert-warning {
    @include alert-style($warning)
}
.alert-error {
    @include alert-style($danger)
}